*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
}
.main {
    width: 1440px;
    height: 1024px;
   margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 85px 180px;
    background-color: white;
}
.box {
    width: 240px;
    height: 240px;
    background-color: #995DB5;
    border-radius: 8px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    gap: 8px;
}
.boxcha {
    width: 48px;
    height: 48px;
    background-color: #F7941F;
    border: 1px solid black;
    border-radius: 8px;
}
.box2 {
    flex-direction: column;
}
.box3 {
    flex-wrap: wrap;
    align-content: flex-start;
}
.box4 {
    justify-content: space-between;
}
.box6 {
    justify-content: flex-end;
}
.box7 {
    justify-content: center;
}
.box8 {
    justify-content: space-between;
}
.box10 {
    align-items: end;
}
.box11 {
    align-items: center;
}
.box12 {
    justify-content: space-between;
}